@font-face {font-family: "aru-icon";
  src: url('aru-icon.eot?t=1660493756468'); /* IE9*/
  src: url('aru-icon.eot?t=1660493756468#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("aru-icon.woff2?t=1660493756468") format("woff2"),
  url("aru-icon.woff?t=1660493756468") format("woff"),
  url('aru-icon.ttf?t=1660493756468') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('aru-icon.svg?t=1660493756468#aru-icon') format('svg'); /* iOS 4.1- */
}

[class^="aru-icon-"], [class*=" aru-icon-"] {
  font-family: 'aru-icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aru-icon-angle-down:before { content: "\ea01"; }
.aru-icon-angle-left:before { content: "\ea02"; }
.aru-icon-angle-right:before { content: "\ea03"; }
.aru-icon-angle-up:before { content: "\ea04"; }
.aru-icon-bell:before { content: "\ea05"; }
.aru-icon-chart:before { content: "\ea06"; }
.aru-icon-circle-info:before { content: "\ea07"; }
.aru-icon-circle-question:before { content: "\ea08"; }
.aru-icon-circle-solid:before { content: "\ea09"; }
.aru-icon-edit:before { content: "\ea0a"; }
.aru-icon-eye:before { content: "\ea0b"; }
.aru-icon-message:before { content: "\ea0c"; }
.aru-icon-more:before { content: "\ea0d"; }
.aru-icon-star:before { content: "\ea0e"; }
.aru-icon-trash:before { content: "\ea0f"; }
